
.bg{
	 position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -1; /* 将背景置于内容下方 */
	  object-fit: cover; /* 以裁剪的方式填充整个容器 */
	  background-color: #ff7f50;
}
/* 顶部栏样式 */
.topbar {
    background-color: rgba(255, 255, 255, 0.1); /* 使用rgba设置颜色并添加透明度 */
    padding: 10px;
    border-radius: 10px; /* 添加圆角效果 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar h1 {
    margin: 0;
    color: #fff;
    text-align: left;
}

.topbar1 {
    display: inline-block; /* 使用 inline-block 让子元素水平排列 */
}

.topbar1 a {
	color: #fff;
	text-decoration: none;
    margin-left: 10px; /* 可选的间距，根据需要调整 */
}

.bt {
    display: flex; /* 使用 Flex 布局 */
    align-items: center; /* 垂直居中对齐 */
}

.bt img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bt h1 {
    margin-left: 10px; /* 添加左边距，根据需要进行调整 */
    float: left; /* 左浮动，使网站名称在图片右边 */
}

.scrolling-image {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;
        }

        .scrolling-image img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
        }

        .scrolling-image:hover img {
            transform: scale(1.2);
        }

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: 1.5s;
    z-index: 1;
    border-radius: 0 30px 30px 0;
    background: linear-gradient(to bottom, #ff7f50, #1e90ff); /* 添加渐变背景 */
}

#sidebarLeft {
    left: 0;
    text-align: left;
}

#sidebarRight {
    right: 0;
    text-align: right;
    border-radius: 30px 0 0 30px;
}

.navbar {
    width: 100%;
    height: 100%;
}

.navbar a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
	
}

.zx {
    position: fixed;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    background-size: cover;
    background-position: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    font-weight: bold;
    overflow: auto; /* 添加滚动效果 */
    min-height: 200px; /* 设置最小高度 */
}

.zx {
  font-size: 20px; /* 文字大小 */
  font-weight: bold; /* 文字粗细 */
}
.zx::-webkit-scrollbar {
    width: 0; /* Safari 和 Chrome */
    display: none; /* 隐藏滚动条 */
}